<!-- 
-- Group: Group 31 (Mario Godinez Gonzalez, Thai-Binh Guerreiro)
-- Assignment: Group project for CS340 Portfolio
-- Date: 3/15/26 -->
<h1>Suppliers</h1>

<table>
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each suppliers}}
        <tr>
            <td>{{supplier_ID}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="3">No suppliers found.</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div style="margin-top: 20px">
    <a href="/add-customer" class="btn" style="background-color: blue; color: white;">Add New Customer</a>
    <a href="/delete-customer" class="btn" style="background-color: red; color: white;">Delete Customer</a>
    <a href="/" class="btn" style="background-color: gray; color: white;">Back to Home</a>
</div>